.scrollTileAnim {position: relative; height: 100vh; overflow: hidden; }
.scrollTileAnim-outer { height: 100vh; position: relative; }
.scrollTileAnim-inner {float: left; position: relative; z-index: 1; }
.scrollTileAnim-img { width: 100%; height: auto; position: absolute; top: 0; left: 0; }
.scrollTileAnim-outercontents { position: relative; height: 100vh;}
.scrollTileAnim-txtCenter {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); margin: auto; width: 100%; text-align: center;}
.scrollTileAnim-ttl1 {font-size: 30px;}
.scrollTileAnim-txt1 {font-size: 17px;}

.scrollArrow { position: absolute; bottom: 50px; left: 0; right: 0; text-align: center; color: #000; font-size: 30px; line-height: 1;}
.scrollArrow span{ display: inline-block; transform: rotate(90deg); animation: arrowMove 1s cubic-bezier(0.45,0.05,0.55,0.95) infinite; position: relative;}

@keyframes arrowMove {
	0% { top: 0; opacity: 1;}
	100% { top: 30px; opacity: 0;}
}

@keyframes fade {
	0% {opacity:1;}
	100% {opacity:0;}
}